*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

body {
  height: 9999px;
  width: 100%;
}

header {
  background-color: tomato;
  display: flex;
  width: 100%;
  padding: 16px;
}

ul {
  display: flex;
}

ul li {
  list-style-type: none;
  margin: 0 8px;
}

[data-unstuck='target'] {
  position: fixed;
  transition: transform 500ms cubic-bezier(0.25, 0.1, 0.25, 1),
    opacity 500ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.isUnstuck {
  opacity: 0;
  transform: translateY(-100%);
}
